body, body.js-tipbar {
  padding-top : 164px;
}

body.product.js-tipbar.testbyReady {
  padding-top : 180px;
}

.custom-select--offpremium .custom-select__text {
  color : rgb(0, 0, 0);
}

.header .smartsearch {
  top : 54px;
}

.header .smartsearch--open .smartsearch__title {
  color : rgb(0, 0, 0);
}

.menu__item--level-1.menu__item--cia--maritima > a {
  padding-left : 15px;
}

.menu__item.menu__item--level-1.menu__item--valisere > a {
  padding-left : 25px;
}

.menu__item.menu__item--level-1.menu__item--valisere > a > span::after, .menu__item--level-1.menu__item--cia--maritima > a > span::after {
  line-height : 1.4;
}

.header__menu-button {
  display : none;
}

.header__area--top {
  z-index : -1;
}

.header__area--bottom {
  display : none;
}

.header__logo {
  margin : auto;
  position : relative;
  top : 11px;
  left : -7px;
}

header.header > .header_ab {
  width : 100%;
  display : flex;
  color : rgb(255, 255, 255);
  background : rgb(0, 0, 0);
}

.main-search {
  top : 54px;
}

header.header > .header_ab .nav_primario {
  position : relative;
}

.nav_primario .box_buscar {
  position : absolute;
  top : 50%;
  left : 50%;
  margin-right : -50%;
  transform : translate(-50%, 0%);
  min-width : 400px;
}

.nav_primario .box_buscar .header__box.header__search {
  width : 100%;
  text-align : left;
  align-items : end;
  text-transform : uppercase;
  background : rgb(243, 243, 243);
  position : relative;
}

.nav_primario .box_buscar .header__box.header__search i.icon-search {
  position : absolute;
  left : 0px;
  top : 20px;
}

.nav_primario .box_buscar .header__box.header__search i.icon-search svg {
  position : relative;
  left : -10px;
}

.nav_primario .box_buscar .header__box.header__search i.icon-search svg image {
  width : 12px;
  height : 18px;
}

.nav_primario .box_buscar .header__box.header__search span {
  text-transform : capitalize;
  font-size : 11px;
  color : rgb(88, 86, 86);
  font-weight : 100;
  font-family : "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.nav_primario .box_buscar .header__box.header__search button.js-toggle-search {
  text-align : left;
  align-items : end;
  text-indent : 20px;
  padding : 17px;
}

.nav_primario > ul {
  float : left;
}

.nav_primario ul.primeiro_nivel li {
  display : inline-block;
}

.nav_primario ul.primeiro_nivel li.active {
  background : rgb(255, 255, 255);
  color : rgb(0, 0, 0);
}

.nav_primario ul.primeiro_nivel li a {
  cursor : pointer;
  font-size : 11px;
  font-weight : bold;
  text-transform : uppercase;
  padding : 19px;
  transition-duration : 0.3s;
  transition-timing-function : ease;
  transition-delay : initial;
  transition-property : color;
  min-height : 54px;
}

.nav_secundario {
  float : right;
}

.nav_secundario .header__search > div > button, .nav_secundario .header__quickfilter > div > button {
  padding : 6px;
  min-height : 54px;
}

.nav_secundario .header__quickfilter > div > button.js-toggle-smartsearch.active svg path {
  color : rgb(0, 0, 0);
  fill : rgb(0, 0, 0);
}

.nav_secundario .header__box:hover .minicart__handle svg path, .nav_secundario .header__box:hover .quickfilter button svg path, .nav_secundario .header__box:hover a, .nav_secundario .header__box:hover a i svg path {
  color : rgb(0, 0, 0);
  fill : rgb(0, 0, 0);
}

.nav_secundario .header__box:hover .minicart__count-value {
  color : rgb(0, 0, 0);
}

.nav_secundario .minicart.js-active .minicart__count-value {
  color : rgb(0, 0, 0);
}

.nav_secundario .header__box {
  float : left;
}

.nav_secundario .header__box .user, .nav_secundario .header__box .minicart {
  z-index : 2;
}

.nav_secundario .header__box .user .user__handle {
  padding : 5px 5px 5px 13px;
  min-height : 54px;
  max-height : 54px;
}

.nav_secundario .header__box .user .user__handle .icon-user {
  position : absolute;
  left : 11px;
}

.nav_secundario .header__box .user.js-active .user__handle .icon-user {
  position : relative;
  left : -7px;
}

.nav_secundario .header__box .user .user__handle .user__login {
  margin : -3px 0px 0px 17px;
  font-size : 12px;
}

.nav_secundario .minicart__count-value {
  color : rgb(255, 255, 255);
}

.nav_secundario .minicart.minicart--empty.js-active svg path {
  fill : rgb(0, 0, 0);
  color : rgb(0, 0, 0);
}

.minicart.js-active .minicart__modal {
  right : -44px;
  z-index : 3;
}

.nav_secundario .header__box.header__minicart .minicart__handle {
  min-height : 54px;
}

.nav_secundario .minicart__modal {
  right : -425px;
}

.nav_principal {
  width : 100%;
  text-align : center;
  opacity : 0;
  transition-duration : 0.3s;
  transition-timing-function : linear;
  transition-delay : initial;
  transition-property : all;
  display : none;
}

.nav_principal.active {
  opacity : 1;
  display : block;
}

.menu_principal > ul.menu__list > li {
  display : inline-block;
}

.menu_principal > ul.menu__list > li.praia a {
  min-width : 60px;
}

.menu_principal > ul.menu__list > li > a {
  text-transform : uppercase;
  font-size : 12px;
  line-height : 50px;
  min-width : 80px;
  padding-top : 0px;
  padding-bottom : 0px;
}

.menu_principal > ul.menu__list > li .menu__panel--level-2 {
  background-color : rgb(255, 255, 255);
}

.menu_principal > ul.menu__list > li .menu__panel--level-2 .container > ul > li > a {
  color : rgb(0, 0, 0);
  text-align : left;
}

.menu_principal > ul.menu__list > li .menu__panel--level-2 .container > .menu__banner {
  float : right;
}

.menu_principal > ul.menu__list > li > .menu__panel--level-2 .container--level-2 {
  padding-top : 15px;
  max-width : 90%;
  width : 75%;
  margin : auto;
}

.menu_principal > ul.menu__list > li > .menu__panel--level-2 .container--level-2 ul {
  float : left;
}

.menu_principal > ul.menu__list > li > .menu__panel--level-2 .container--level-2 .menu__banner {
  display : flex;
  width : auto;
}

.menu_principal > ul.menu__list > li:hover > .menu__panel--level-2 {
  z-index : 1;
  pointer-events : auto;
  opacity : 1;
  transition-duration : 0s;
  transition-timing-function : initial;
  transition-delay : initial;
  transition-property : initial;
}

.menu_principal > ul.menu__list > li:hover > a {
  position : relative;
  transition-duration : 0s;
  transition-timing-function : initial;
  transition-delay : initial;
  transition-property : initial;
  font-weight : 600;
}

.menu_principal > ul.menu__list > li > a > .icon-arrow {
  content : "";
  background-image : url("/arquivos/icon-arrow.png");
  background-position : center top;
  background-repeat : no-repeat no-repeat;
  background-attachment : initial;
  background-origin : initial;
  background-clip : initial;
  background-color : rgb(255, 255, 255);
  width : 18px;
  height : 16px;
  background-size : contain;
  transform : rotate(-90deg);
  position : absolute;
  left : 35%;
  bottom : -5px;
  display : none;
  opacity : 0;
  z-index : 33;
  transition-duration : 0.4s;
  transition-timing-function : linear;
  transition-delay : initial;
  transition-property : all;
}

.menu_principal > ul.menu__list > li:hover > a > .icon-arrow {
  display : block;
  opacity : 1;
}

.menu_principal > ul.menu__list > li:hover > .menu__panel--level-2 .container--level-2::before {
  content : "";
  background : rgb(201, 200, 200);
  position : absolute;
  height : 1px;
  display : inline-block;
  top : 0px;
  width : calc(100% - 190px);
  left : 10%;
}
@media (max-device-width: 768px) and (orientation: portrait), (max-device-width: 1024px) and (orientation: landscape) {
  body, body.js-tipbar {
    padding-top : 53px;
  }

  body.product.js-tipbar.testbyReady {
    padding-top : 53px;
  }

  .header_ab {
    background : rgb(0, 0, 0);
    width : 100%;
  }

  .nav_primario > ul {
    float : none;
  }

  .nav_primario ul.primeiro_nivel li.active {
    color : rgb(255, 255, 255);
    background : rgb(0, 0, 0);
  }

  .header__minicart a {
    color : rgb(0, 0, 0);
  }

  .header__minicart i svg path {
    fill : rgb(0, 0, 0);
    color : rgb(0, 0, 0);
  }

  header.header > .header_ab {
    display : none !important;
  }

  .menu__button {
    background-color : rgb(255, 255, 255);
    height : 50px;
  }

  .menu__button i svg path {
    fill : rgb(0, 0, 0);
    color : rgb(0, 0, 0);
  }

  i.menu__button-icon.icon.icon-close svg path {
    fill : rgb(255, 255, 255);
  }

  .menu.js-active .menu__header .menu__quicksearch {
    display : none;
  }

  .menu.js-active .menu__overlay {
    background : rgba(0, 0, 0, 0.8);
    opacity : 1;
  }

  .menu__user.js-active {
    padding : 8px;
    background : rgb(255, 255, 255);
  }

  .user.js-active .user__panel {
    color : rgb(0, 0, 0);
  }

  .user.js-active .user__panel i svg path {
    fill : rgb(0, 0, 0);
  }

  .user.js-active .user__panel .user__greeting {
    border-top-color : rgb(0, 0, 0);
    border-right-color : rgb(0, 0, 0);
    border-bottom-color : rgb(0, 0, 0);
    border-left-color : rgb(0, 0, 0);
    padding : 7px 0px;
  }

  .user.js-active .user__panel li a.user__button {
    background : rgb(0, 0, 0);
    color : rgb(255, 255, 255);
  }

  .menu.js-active .menu__header {
    height : 49px;
    background : rgb(255, 255, 255);
    border-bottom : 1px solid rgb(0, 0, 0);
  }

  .menu__button--open {
    border-bottom : 1px solid rgb(0, 0, 0);
  }

  .menu__user {
    width : 88%;
  }

  .menu__user > .user a.user__handle {
    color : rgb(0, 0, 0);
    padding-left : 2px;
  }

  .menu__user > .user a.user__handle span {
    display : inline-block;
    padding-left : 11px;
    font-size : 12px;
  }

  .menu__user > .user a.user__handle > i > svg > path {
    fill : rgb(0, 0, 0);
    color : rgb(0, 0, 0);
  }

  .menu__button--close {
    background : rgb(68, 68, 68);
    padding : 4px 0px;
  }

  .menu.js-active .menu__modal {
    padding-top : 52px;
    width : 88%;
  }

  .menu__button--close span {
    font-size : 9px;
  }

  .menu__button--close i svg {
    width : 20px;
    height : 31px;
    margin : 0px auto;
  }

  .menu__quicksearch.js-active {
    display : none;
  }

  .menu__panel.menu__panel--level-1 {
    background-color : rgb(255, 255, 255);
  }

  .menu__panel.menu__panel--level-1 .container {
    padding : 0px 10px;
  }

  .menu__panel.menu__panel--level-1 > .container > ul > li.menu__item--marcas, .menu__panel.menu__panel--level-1 > .container > ul > li.menu__item--novidades, .menu__panel.menu__panel--level-1 > .container > ul > li.menu__item--feminino, .menu__panel.menu__panel--level-1 > .container > ul > li.menu__item--masculino, .menu__panel.menu__panel--level-1 > .container > ul > li.menu__item--acessorios, .menu__panel.menu__panel--level-1 > .container > ul > li.menu__item--relogios, .menu__panel.menu__panel--level-1 > .container > ul > li.menu__item--calcados, .menu__panel.menu__panel--level-1 > .container > ul > li.menu__item--infantil {
    display : none;
  }

  .menu__panel.menu__panel--level-1 > .container > ul > .menu__item--level-1.menu__item--valisere, .menu__panel.menu__panel--level-1 > .container > ul > .menu__item--level-1.menu__item--cia--maritima {
    border : 0px !important;
  }

  .menu__panel.menu__panel--level-1 > .container > ul > .menu__item--level-1.menu__item--valisere, .menu__panel.menu__panel--level-1 > .container > ul > .menu__item--level-1.menu__item--cia--maritima a {
    color : rgb(224, 58, 62);
    height : 38px;
  }

  .menu__footer {
    background-color : rgb(255, 255, 255);
    padding : 15px 0px 85px 15px;
  }

  .menu__footer .menu__services {
    border-bottom : 0px;
  }

  .menu__footer .menu__services li > a {
    color : rgb(0, 0, 0);
  }

  .menu__footer .menu__services li > a > i > svg > path {
    fill : rgb(0, 0, 0);
    color : rgb(0, 0, 0);
  }

  .menu__social .social > li > a > i > svg > path {
    color : rgb(0, 0, 0);
    fill : rgb(0, 0, 0);
  }

  .header_ab .container {
    padding : 0px;
  }

  .header_ab > .container:last-child {
    border-bottom : 1px solid rgb(0, 0, 0);
  }

  .menu__modal ul.primeiro_nivel > li {
    flex-wrap : wrap;
    width : 100%;
    border-bottom : 1px solid rgb(255, 255, 255);
    display : flex !important;
  }

  .menu__modal ul.primeiro_nivel > li .menu__handle {
    padding-right : 20px;
  }

  .menu__modal ul.primeiro_nivel > li > a {
    flex-grow : 1;
    flex-shrink : 1;
    flex-basis : 50%;
    max-width : 50%;
    height : 60px;
    padding : 20px 0px 20px 15px;
    font-size : 14px;
    font-weight : 100;
    text-transform : uppercase;
  }

  .menu__modal ul.primeiro_nivel > li .btn-minus {
    display : none;
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 {
    background : rgb(255, 255, 255);
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub-home > ul {
    padding : 10px 0px;
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2.active {
    display : block !important;
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub-home .container > li {
    display : flex;
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub-home .container > li > .menu__handle {
    height : auto;
    padding-top : 0px;
    padding-bottom : 0px;
    padding-left : 0px;
    padding-right : 17px;
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub-home .container > li > .menu__handle > i {
    transform : rotate(-90deg);
    position : relative;
    top : -3px;
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub-home .container > li > .menu__handle > i svg path {
    color : rgb(138, 138, 138);
    fill : rgb(138, 138, 138);
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub-home .container > li > a {
    color : rgb(109, 109, 109);
    padding : 10px 0px 10px 20px;
    height : 40px;
    flex-grow : 1;
    flex-shrink : 1;
    flex-basis : 50%;
    max-width : 50%;
    text-transform : uppercase;
    min-height : auto;
    font-weight : 100;
    font-size : 14px;
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub_menu .container a.btn_voltar {
    color : rgb(0, 0, 0);
    text-transform : uppercase;
    border-bottom : 1px solid rgb(220, 220, 220);
    padding : 10px 0px;
    font-weight : 600;
    margin-bottom : 10px;
    min-height : auto;
    font-size : 14px;
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub_menu .container a.btn_voltar > .menu__handle {
    height : auto;
    padding-top : 0px;
    padding-bottom : 0px;
    padding-left : 0px;
    padding-right : 19px;
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub_menu .container a.btn_voltar > .menu__handle > i {
    transform : rotate(90deg);
    position : relative;
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub_menu .container a.btn_voltar > .menu__handle > i svg {
    width : 21px;
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub_menu .container a.btn_voltar > .menu__handle > i svg path {
    color : rgb(41, 41, 41);
    fill : rgb(41, 41, 41);
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub_menu .container {
    display : none;
    padding : 0px 20px;
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub_menu .container > ul > li {
    padding : 0px 20px;
    display : flex;
    min-height : auto;
  }

  .menu__modal ul.primeiro_nivel > li .menu__panel--level-2 .sub_menu .container > ul > li > a {
    color : rgb(0, 0, 0);
    text-transform : capitalize;
    padding : 10px 0px;
    min-height : auto;
    font-size : 13px;
    font-weight : 100;
  }

  .header__logo {
    top : 0px;
  }

  .menu__item--level-1.menu__item--cia--maritima > a {
    padding-left : 0px;
  }

  .menu__item.menu__item--level-1.menu__item--valisere > a {
    padding-left : 0px;
  }
}
